pip==24.0
daytime==0.4
Django==5.0.7
django-cors-headers==4.3.1
django-debug-toolbar==4.4.2
django-environ==0.10.0
numpy==1.26.4
pandas==2.2.2
requests==2.32.3
whitenoise==6.6.0
sqlparse==0.5.0
asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
urllib3==2.2.1
wheel==0.43.0
plotly==5.22.0
PyPortfolioOpt==1.5.5
get-all-tickers==1.8
python-decouple==3.8
mysqlclient==2.2.4
yfinance==0.2.40
gunicorn==22.0.0 
python-dotenv==1.0.1
apscheduler==3.10.4
tenacity==8.4.2
newsapi-python==0.2.7
newspaper3k==0.2.8
apscheduler==3.10.4