{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
Parameters | Portfolio Builder
{% endblock title %}

{% block sidebar %}
<div class="sidebar white" id="sidebar">
    <h4 class="center black-text" style="margin-top: 20px; font-weight: bold; font-size: 24px;">Portfolio Config</h4>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Investment Amount" id="amount" type="text" class="validate black-text" name="amount" value="{{ form.amount.value|default_if_none:'' }}">
                <label for="amount" class="black-text">{{ form.amount.label }}</label>
                {% if form.amount.errors %}
                <div class="black-text">{{ form.amount.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Amount of Stocks" id="amount_stocks" type="text" class="validate black-text" name="amount_stocks" value="{{ form.amount_stocks.value|default_if_none:'' }}">
                <label for="amount_stocks" class="black-text">{{ form.amount_stocks.label }}</label>
                {% if form.amount_stocks.errors %}
                <div class="black-text">{{ form.amount_stocks.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Investment Horizon (months)" id="horizon" type="text" class="validate black-text" name="horizon" value="{{ form.horizon.value|default_if_none:'' }}">
                <label for="horizon" class="black-text">{{ form.horizon.label }}</label>
                {% if form.horizon.errors %}
                <div class="black-text">{{ form.horizon.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Target Volatility" id="min_var" type="text" class="validate black-text" name="min_var" value="{{ form.min_var.value|default_if_none:'' }}">
                <label for="min_var" class="black-text">{{ form.min_var.label }}</label>
                {% if form.min_var.errors %}
                <div class="black-text">{{ form.min_var.errors }}</div>
                {% endif %}
            </div>
            <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action">Submit</button>
        </div>
    </form>
</div>
{% endblock sidebar %}

{% block content %}
    {% if is_post %}
    <style>
        .btn {
            width: 80px; 
        }
    </style>
    <div class="container">
        <!--Sharpe-->
        <div class="col s12">
            <div class="row">
                <canvas id="myChartSharpe"></canvas>
                <div class="row">
                    <div class="col s2">
                        <h6 id="sharpeRatioS" data-position="top" data-tooltip="The Sharpe Ratio is a measure used to understand the return of an investment compared to its risk. It helps investors determine how much extra return they're getting for the additional volatility they endure by holding a riskier asset."></h6>
                    </div>
                </div>
                <!--<div class="row">
                    <div id="colorScaleBarSharpe" class="color-scale-bar"></div>
                </div>-->
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-content">
                    <div>
                        <h5 class="center card-title">Best Portfolio by Sharpe Ratio</h5>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Investment %</th>
                                <th>Investment Amt.</th>
                                <th>Market Cap</th>
                                <th>Enterprise Value</th>
                                <th>Trailing P/E</th>
                                <th>Forward P/E</th>
                                <th>PEG Ratio</th>
                                <th>Price/Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, item in sharpe_dict.financial_data_sharpe.items %}
                            <tr>
                                <td>
                                    <a href="{% url 'research' %}?ticker={{ item.ticker }}" class="btn waves-effect waves-light btn-small red lighten-1">
                                        {{ item.ticker }}
                                    </a>
                                </td>
                                <td>{{ item.percentage|format_number }}</td>
                                <td>{{ item.investmentamount|format_number }}</td>
                                <td>{{ item.marketcap|format_number }}</td>
                                <td>{{ item.enterprisevalue|format_number }}</td>
                                <td>{{ item.trailingpe|format_number }}</td>
                                <td>{{ item.forwardpe|format_number }}</td>
                                <td>{{ item.pegratio|format_number }}</td>
                                <td>{{ item.pricesales|format_number }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Returns-->

        <div class="col s12">
            <div class="row">
                <canvas id="myChartReturn"></canvas>
                <div class="row">
                    <div class="col s2">
                        <h6 id="sharpeRatioR" data-position="top" data-tooltip="The Sharpe Ratio is a measure used to understand the return of an investment compared to its risk. It helps investors determine how much extra return they're getting for the additional volatility they endure by holding a riskier asset."></h6>
                    </div>
                </div>
                <!--<div class="row">
                    <div id="colorScaleBarReturn" class="color-scale-bar"></div>
                </div>-->
            </div>
        </div>
        <div>
        <div class="card">
                <div class="card-content">
                    <div>
                        <h5 class="center card-title">Best Portfolio by Returns</h5>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Investment %</th>
                                <th>Investment Amt.</th>
                                <th>Market Cap</th>
                                <th>Enterprise Value</th>
                                <th>Trailing P/E</th>
                                <th>Forward P/E</th>
                                <th>PEG Ratio</th>
                                <th>Price/Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, item in return_dict.financial_data_return.items %}
                            <tr>
                                <td>
                                    <a href="{% url 'research' %}?ticker={{ item.ticker }}" class="btn waves-effect waves-light btn-small red lighten-1">
                                        {{ item.ticker }}
                                    </a>
                                </td>
                                <td>{{ item.percentage|format_number }}</td>
                                <td>{{ item.investmentamount|format_number }}</td>
                                <td>{{ item.marketcap|format_number }}</td>
                                <td>{{ item.enterprisevalue|format_number }}</td>
                                <td>{{ item.trailingpe|format_number }}</td>
                                <td>{{ item.forwardpe|format_number }}</td>
                                <td>{{ item.pegratio|format_number }}</td>
                                <td>{{ item.pricesales|format_number }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script>

        var chartType = '{{ chart_type|escapejs }}';

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize tooltips
            const tooltippedElements = document.querySelectorAll('.tooltipped');
            M.Tooltip.init(tooltippedElements);

            const h6ElementS = document.getElementById('sharpeRatioS');
            const h6ElementR = document.getElementById('sharpeRatioR');
            const colorScaleBarSharpe = document.getElementById('colorScaleBarSharpe');
            const colorScaleBarReturn = document.getElementById('colorScaleBarReturn');

            // Simulate color scale bar loading
            setTimeout(() => {
                // Assume the color scale bar has been loaded
                colorScaleBarSharpe.classList.add('loaded'); // Add a class to indicate it's loaded
                colorScaleBarReturn.classList.add('loaded'); // Add a class to indicate it's loaded

                // Now show the h6 element
                h6ElementS.style.display = 'inline-block';
                h6ElementR.style.display = 'inline-block';
            }, 2000); // Simulate a 2-second load time for the color scale bar

            // you could probably do this better ngl
            h6ElementS.addEventListener('mouseover', function () {
                const rect = h6ElementS.getBoundingClientRect();
                const tooltip = h6ElementS.dataset.tooltip;
                M.toast({html: tooltip, displayLength: 4000});
            });
            h6ElementR.addEventListener('mouseover', function () {
                const rect = h6ElementR.getBoundingClientRect();
                const tooltip = h6ElementR.dataset.tooltip;
                M.toast({html: tooltip, displayLength: 4000});
            });
            h6ElementS.addEventListener('mouseout', function () {
                const tooltips = document.querySelectorAll('.toast');
                tooltips.forEach(tooltip => {
                    M.Toast.getInstance(tooltip).dismiss();
                });
            });
            h6ElementR.addEventListener('mouseout', function () {
                const tooltips = document.querySelectorAll('.toast');
                tooltips.forEach(tooltip => {
                    M.Toast.getInstance(tooltip).dismiss();
                });
            });

            function interpolateColor(value, min, max) {
                scale = d3.scaleSequential(d3.interpolateViridis).domain([min, max]);
                return scale(value);
            }

            function createChart(chartData, identifier, colorbar){
                var ctx = document.getElementById(identifier).getContext('2d');
                var pointBackgroundColors = [];

                // Calculate min and max Sharpe ratios
                const minSharpe = Math.min(...chartData.sharpe);
                const maxSharpe = Math.max(...chartData.sharpe);

                // Prepare labels for the legend
                var minMaxLabels = {
                    min: 'Min Sharpe: ' + minSharpe.toFixed(2),
                    max: 'Max Sharpe: ' + maxSharpe.toFixed(2)
                };

                // Create the dataset with dynamic colors and radii
                const data = chartData.x.map((x, i) => {
                    const sharpe = chartData.sharpe[i];
                    const color = interpolateColor(sharpe, minSharpe, maxSharpe);
                    let pointRadius = 3; // Default radius

                    // Enlarge points for min and max Sharpe
                    if (sharpe === minSharpe || sharpe === maxSharpe) {
                        pointRadius = 15;
                    }
                    
                    // Add color to the background colors array
                    pointBackgroundColors.push(color);
                    
                    return {
                        x: x,
                        y: chartData.y[i],
                        backgroundColor: color,
                        borderColor: color,
                        pointRadius: pointRadius,
                        label: chartData.label[i],
                        sharpeValue: sharpe.toFixed(2)
                    };
                });
                
                const config = {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'Efficient Frontier',
                            data: data,
                            pointBackgroundColor: pointBackgroundColors,
                            pointStyle: 'circle',
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                title: {
                                    display: true,
                                    text: 'Risk'
                                }
                            },
                            y: {
                                type: 'linear',
                                title: {
                                    display: true,
                                    text: 'Return'
                                }
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Efficient Frontier',
                                font: {
                                    size: 20
                                }
                            },
                            legend: {
                                display: true,
                                labels: {
                                    generateLabels: function(chart) {
                                        // Default point style
                                        const defaultLabel = Chart.defaults.plugins.legend.labels.generateLabels(chart);
                                        // Custom labels
                                        defaultLabel.push({
                                            text: minMaxLabels.min,
                                            fillStyle: interpolateColor(minSharpe, minSharpe, maxSharpe),
                                        });
                                        defaultLabel.push({
                                            text: minMaxLabels.max,
                                            fillStyle: interpolateColor(maxSharpe, minSharpe, maxSharpe),
                                        });
                                        return defaultLabel;
                                    }
                                }
                            },
                            tooltip: {
                                enabled: true,
                                callbacks: {
                                    label: function(tooltipItem) {
                                        let dataset = tooltipItem.dataset;
                                        let point = dataset.data[tooltipItem.dataIndex];
                                        let labelX = 'Risk: ' + point.x.toFixed(2);
                                        let labelY = 'Return: ' + point.y.toFixed(2);
                                        let labelInfo = 'Info: ' + point.label;
                                        let sharpeLabel = 'Sharpe Ratio: ' + point.sharpeValue;
                                        return [labelX, labelY, labelInfo, sharpeLabel];
                                    }
                                }
                            }
                        }
                    }
                };

                var myChart = new Chart(ctx, config);

                for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
                    //color = interpolateColor(myChart.data.datasets[0].sharpe[i], minSharpe, maxSharpe);
                    color = interpolateColor(chartData.sharpe[i], minSharpe, maxSharpe);
                    pointBackgroundColors.push(color);
                }

                myChart.update();

                // // Create the color scale bar
                // const colorScaleBar = document.getElementById(colorbar);
                // const numColors = 50; // Number of steps in the color scale
                // for (let i = 0; i <= numColors; i++) {
                //     const value = minSharpe + (i / numColors) * (maxSharpe - minSharpe);
                //     const color = interpolateColor(value, minSharpe, maxSharpe);
                //     const div = document.createElement('div');
                //     div.style.backgroundColor = color;
                //     colorScaleBar.appendChild(div);
                // }

                // // Add min and max Sharpe values
                // const minLabel = document.createElement('span');
                // minLabel.textContent = `Min: ${minSharpe.toFixed(2)}`;
                // colorScaleBar.appendChild(minLabel);

                // const maxLabel = document.createElement('span');
                // maxLabel.textContent = `Max: ${maxSharpe.toFixed(2)}`;
                // colorScaleBar.appendChild(maxLabel);
            }

        var id_sharpe = 'myChartSharpe';
        var color_bar_sharpe = 'colorScaleBarSharpe';
        var id_return = 'myChartReturn';
        var color_bar_return = 'colorScaleBarReturn';

        let total_data = [JSON.parse('{{ sharpe_data|escapejs }}'), JSON.parse('{{ return_data|escapejs }}')]
        let financial_info = [('{{ sharpe_dict.tickers|escapejs}}'), ('{{ return_dict.tickers|escapejs}}')];

        // Updating total_data with the zipped tickers and weights string
        for (var i = 0; i < 2; i++) {
            var data = total_data[i].weights;
            var tickers = JSON.parse(financial_info[i]);

            var labelstr = [];
            for (var j = 0; j < data.length; j++) {
                var temp = '';
                for (var k = 0; k < tickers.length; k++){
                    temp += `${tickers[k]}: ${String((data[j][k]).toFixed(2))} `;
                }
                labelstr.push(temp)
            }
            total_data[i].label = labelstr;
        }
        
        createChart(total_data[0], id_sharpe, color_bar_sharpe);
        createChart(total_data[1], id_return, color_bar_return);

        });
    </script>
    {% else %}
    <style>
        .seperate1 {
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .seperate {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Portfolio Optimizer</span>
                        <p class="center">You can the button on the bottom right to construct your portfolio!</p>
                        {% if error %}
                            <div class="card-panel red lighten-4">
                                <span class="red-text text-darken-4">{{ message }}</span>
                            </div>
                        {% endif %}
                        <div class="advice-section">
                            <h6 class="seperate1">Helpful Tips:</h6>
                            <ul>
                                <li class="seperate">Pick a confidence level between 0 and 1.</li>
                                <li class="seperate">Try values of target volatility of 1 or greater; lower values are better but sometimes they are not feasible.</li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="card-action center">
                        <button id="toggle-button" class="btn waves-effect waves-light red lighten-1" type="submit" name="action">Construct Portfolio
                            <i class="material-icons right">build</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endif %}
    <div class="fixed-action-btn">
        <a id="toggle-button" class="btn-floating btn-large waves-effect waves-light red bottom right "><i class="material-icons">add</i></a>
    </div>
{% endblock content %}