{% extends 'base.html' %}

{% block title %}
Parameters | Portfolio Builder
{% endblock title %}

{% block sidebar %}
<div class="sidebar white" id="sidebar">
    <h4 class="center black-text" style="margin-top: 20px; font-weight: bold; font-size: 24px;">Portfolio Config</h4>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Investment Amount" id="amount" type="text" class="validate black-text" name="amount" value="{{ form.amount.value|default_if_none:'' }}">
                <label for="amount" class="black-text">{{ form.amount.label }}</label>
                {% if form.amount.errors %}
                <div class="black-text">{{ form.amount.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Amount of Stocks" id="amount_stocks" type="text" class="validate black-text" name="amount_stocks" value="{{ form.amount_stocks.value|default_if_none:'' }}">
                <label for="amount_stocks" class="black-text">{{ form.amount_stocks.label }}</label>
                {% if form.amount_stocks.errors %}
                <div class="black-text">{{ form.amount_stocks.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Investment Horizon (months)" id="horizon" type="text" class="validate black-text" name="horizon" value="{{ form.horizon.value|default_if_none:'' }}">
                <label for="horizon" class="black-text">{{ form.horizon.label }}</label>
                {% if form.horizon.errors %}
                <div class="black-text">{{ form.horizon.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Confidence Level" id="confidence" type="text" class="validate black-text" name="confidence" value="{{ form.confidence.value|default_if_none:'' }}">
                <label for="confidence" class="black-text">{{ form.confidence.label }}</label>
                {% if form.confidence.errors %}
                <div class="black-text">{{ form.confidence.errors }}</div>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input placeholder="Minimum Volatility" id="min_var" type="text" class="validate black-text" name="min_var" value="{{ form.min_var.value|default_if_none:'' }}">
                <label for="min_var" class="black-text">{{ form.min_var.label }}</label>
                {% if form.min_var.errors %}
                <div class="black-text">{{ form.min_var.errors }}</div>
                {% endif %}
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>
    </form>
</div>
{% endblock sidebar %}

{% block content %}

<div class="col s12">
    <div class="row">
        <canvas id="myChart"></canvas>
        <h6>Sharpe Ratio:</h6>
        <div id="colorScaleBar" class="color-scale-bar"></div>
    </div>
</div>
<div>
    <h5 class="center">Best Portfolio</h5>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Percentage</th>
            <th>Investment Amount</th>
            <th>Market Cap</th>
            <th>Enterprise Value</th>
            <th>Trailing P/E</th>
            <th>Forward P/E</th>
            <th>PEG Ratio</th>
            <th>Price Sales</th>
        </tr>
    </thead>
    <tbody>
        {% for key, item in financial_data.items %}
        <tr>
            <td>{{ item.ticker }}</td>
            <td>{{ item.percentage }}</td>
            <td>{{ item.investmentamount }}</td>
            <td>{{ item.marketcap }}</td>
            <td>{{ item.enterprisevalue }}</td>
            <td>{{ item.trailingpe }}</td>
            <td>{{ item.forwardpe }}</td>
            <td>{{ item.pegratio }}</td>
            <td>{{ item.pricesales }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="fixed-action-btn">
    <a id="toggle-button" class="btn-floating  btn-large waves-effect waves-light red bottom right "><i class="material-icons">add</i></a>
</div>

<script>
    var chartData = JSON.parse('{{ chart_data|escapejs }}');
    var chartType = '{{ chart_type|escapejs }}';

    function interpolateColor(value, min, max) {
        scale = d3.scaleSequential(d3.interpolateViridis).domain([min, max]);
        return scale(value);
    }

    if (chartType == 'scatter'){
        // Calculate min and max Sharpe ratios
        minSharpe = Math.min(...chartData.sharpe);
        maxSharpe = Math.max(...chartData.sharpe);

        // Create the dataset with dynamic colors
        data = chartData.x.map((x, i) => {
            color = interpolateColor(chartData.sharpe[i], minSharpe, maxSharpe);
            return {
                x: x,
                y: chartData.y[i],
                backgroundColor: "#000000",
                borderColor: "#000000",
                pointRadius: 3,
            };
        });
    }
    var pointBackgroundColors = [];
    let ctx = document.getElementById('myChart').getContext('2d');
    if (chartType == 'line') {
        config = {
            type: 'line',
            data: {
                labels: chartData.date,
                datasets: [{
                    label: 'Close Price',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    data: chartData['Close Price'],
                    borderWidth: 1,
                    fill: true,
                    pointStyle: false,
                    pointRadius: 0,
                },
                {
                    label: '50-Day Moving Average',
                    data: chartData['Moving Average'],
                    borderColor: 'rgba(135, 206, 235, 1)', // Darker Light Blue
                    borderWidth: 1.5,
                    pointRadius: 0,
                    borderDash: [5, 5],
                }]
            }, 
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'S&P 500',
                        font: {
                            size: 20
                        }
                    }
                }
            }
        }
        var myChart = new Chart(ctx, config);
    } else if (chartType == 'scatter') {
        config = {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Efficient Frontier',
                    data: data,
                    pointBackgroundColor: pointBackgroundColors,
                    pointStyle: 'circle',
                    pointRadius: 2.5,
                }]
            }, 
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Risk'
                        }
                    },
                    y: {
                        type: 'linear',
                        title: {
                            display: true,
                            text: 'Return'
                        }
                    }
                }, plugins: {
                    title: {
                        display: true,
                        text: 'Efficient Frontier',
                        font: {
                            size: 20
                        }
                    },
                    legend: {
                        display: false,
                    }
                }
            }
        };
        var myChart = new Chart(ctx, config);
        minSharpe = Math.min(...chartData.sharpe);
        maxSharpe = Math.max(...chartData.sharpe);

        for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
            //color = interpolateColor(myChart.data.datasets[0].sharpe[i], minSharpe, maxSharpe);
            color = interpolateColor(chartData.sharpe[i], minSharpe, maxSharpe);
            pointBackgroundColors.push(color);
        }
        myChart.update();

        // Create the color scale bar
        const colorScaleBar = document.getElementById('colorScaleBar');
        const numColors = 20; // Number of steps in the color scale
        for (let i = 0; i <= numColors; i++) {
            const value = minSharpe + (i / numColors) * (maxSharpe - minSharpe);
            const color = interpolateColor(value, minSharpe, maxSharpe);
            const div = document.createElement('div');
            div.style.backgroundColor = color;
            colorScaleBar.appendChild(div);
        }

        // Add min and max Sharpe values
        const minLabel = document.createElement('span');
        minLabel.textContent = `Min: ${minSharpe.toFixed(2)}`;
        colorScaleBar.appendChild(minLabel);

        const maxLabel = document.createElement('span');
        maxLabel.textContent = `Max: ${maxSharpe.toFixed(2)}`;
        colorScaleBar.appendChild(maxLabel);
    }


    
</script>
{% endblock content %}
