{% extends 'base.html' %}

{% block title %}
Parameters
{% endblock title %}

{% block content %}

<div class="row">
    <!-- Parameters will be to the side -->
    <div class="col s2 offset-s1">
        <h4>Portfolio Config</h4>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="0" id="amount" type="text" class="validate">
                <label for="amount">Investment amount</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="12" id="amount_stocks" type="text" class="validate">
                <label for="amount_stocks">Number of Stocks</label>
            </div>
            <div class="input-field col s12">
                <input type="text" class="datepicker">
                <label for="time">Date time frame</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="12" id="horizon" type="text" class="validate">
                <label for="horizon">Time horizon (months)</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="0.95" id="confidence" type="text" class="validate">
                <label for="confidence">VaR confidence level</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="0.35" id="min_var" type="text" class="validate">
                <label for="min_var">Min VaR</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
        </div>
    </div>
    <div class="col s8">
        <h1 class="center">S&#38P 500</h1>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
    });
    var chartData = JSON.parse('{{ chart_data|escapejs }}');
    var chartType = '{{ chart_type|escapejs }}';
    let ctx = document.getElementById('myChart').getContext('2d');
    if (chartType == 'line') {
        config = {
            type: 'line',
            data: {
                labels: chartData.x,
                datasets: [{
                    label: 'Value',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    data: chartData.y,
                    borderWidth: 1,
                    fill: true,
                    pointStyle: false,
                    pointRadius: 0,
                },
                {
                    label: '50-Day Moving Average',
                    data: chartData.avg,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1.5,
                    pointRadius: 0,
                    borderDash: [5, 5],
                }]
            },
        }
    } else if (chartType == 'scatter') {
        config = {
            type: 'scatter',
            data: {
                labels: chartData.x,
                datasets: [{
                    label: 'Value',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    data: chartData.y,
                    borderWidth: 1,
                    fill: true,
                    pointStyle: false,
                    pointRadius: 0,
                }]
            },
        }
    }

    var myChart = new Chart(ctx, config);
</script>

{% endblock content %}
