{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
Research | Portfolio Builder
{% endblock title %}

{% block sidebar %}
<div class="sidebar white" id="sidebar">
    <h4 class="center black-text" style="margin-top: 20px; font-weight: bold; font-size: 24px;">Stock lookup</h4>
    <form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="autocomplete-input" class="autocomplete" autocomplete="off">
            <label for="autocomplete-input">Company Name</label>
        </div>
        <input type="hidden" id="ticker-input" name="ticker">

        <h6 class="left-align">Optional Indicators</h6>

        <p>
            <label>
                <input type="checkbox" id="SMACheckBox" name="SMA" class="filled-in" />
                <span>Simple Moving Average</span>
            </label>
        </p>
        <div class="input-field col s12" id="SMADropDown" style="display:none;">
            <select name="SMAValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Simple Moving Average Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="EMACheckBox" name="EMA" class="filled-in" />
                <span>Exponential Moving Average</span>
            </label>
        </p>
        <div class="input-field col s12" id="EMADropDown" style="display:none;">
            <select name="EMAValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Exponential Moving Average Value</label>
        </div>
        
        <p>
            <label>
                <input type="checkbox" id="BollingerBandsCheckbox" name="BollingerBands" class="filled-in" />
                <span>Bollinger Bands</span>
            </label>
        </p>
        <div class="input-field col s12" id="BollingerBandsDropdown" style="display:none;">
            <select name="BollingerBandsValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Bollinger Bands Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="RSICheckbox" name="RSI" class="filled-in" />
                <span>Relative Strength Index (RSI)</span>
            </label>
        </p>
        <div class="input-field col s12" id="RSIDropdown" style="display:none;">
            <select name="RSIValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="14">14 day</option>
                <option value="28">28 day</option>
            </select>
            <label>RSI Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="MACDCheckbox" name="MACD" class="filled-in" />
                <span>MACD</span>
            </label>
        </p>
        <div class="input-field col s12" id="MACDDropdown" style="display:none;">
            <select name="MACDValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="12,26,9">Standard (12,26,9)</option>
                <option value="8,17,9">Custom (8,17,9)</option>
            </select>
            <label>MACD Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="StochasticCheckbox" name="StochasticOscillator" class="filled-in" />
                <span>Stochastic Oscillator</span>
            </label>
        </p>
        <div class="input-field col s12" id="StochasticDropdown" style="display:none;">
            <select name="StochasticValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="14,3,3">Standard (14,3,3)</option>
                <option value="5,3,3">Custom (5,3,3)</option>
            </select>
            <label>Stochastic Oscillator Value</label>
        </div>

        <button class="btn waves-effect waves-light bottom" type="submit" name="action">Submit</button>
    </div>
</form>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    // Define global variables for tickers and names
    var tickers = JSON.parse("{{ tickers|escapejs }}");
    var names = JSON.parse("{{ names|escapejs }}");

    // Create data object with all tickers set to null
    var data = {};
    for (var i = 0; i < names.length; i++) {
        data[names[i]] = null; // Set value to null
    }

    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, {
        data: data,
        onAutocomplete: function(selectedItem) {
            // Find the index of the selected item in names array
            var index = names.indexOf(selectedItem);
            // Set the hidden input's value to the corresponding ticker
            if (index !== -1) {
                document.getElementById('ticker-input').value = tickers[index];
            }
        }
    });

    // Debug output to ensure tickers and names are loaded correctly
    console.log('Tickers:', tickers);
    console.log('Names:', names);
});
</script>
{% endblock sidebar %}

{% block content %}
<style>
    .move-down{
        margin-top: 50px;
    }
</style>
<div class="container">
    <div class="col s12">
        <div class="row">
            <div id="dateRangeDisplay" style="text-align:center; margin-top:10px; font-size:16px;"></div>

            <canvas id="myChart"></canvas>

            <div id="barContainer" style="position: relative; width: 100%; height: 20px; background-color: #f1f1f1;">
                <div id="rangeBar" style="height: 100%; background: #FF6384; position: absolute;"></div>
            </div>
            <h6 class="center" id="dataInfo"></h6>
        </div>
    </div>
    {% if is_post %}
        <div class="row">
            <div class="col s6">
                <h5>Valuation Measures</h5>
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th class="left-align">Measure</th>
                            <th class="right-align">Most Recent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, item in valuation.items %}
                            <tr>
                                <td class="left-align">{{ key }}</td>
                                <td class="right-align">{{ item|format_number }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col s6">
                <h5>Financial Highlights</h5>
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th class="left-align">Metric</th>
                            <th class="right-align">Most Recent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, item in finance.items %}
                            <tr>
                                <td class="left-align">{{ key }}</td>
                                <td class="right-align">{{ item|format_number }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="move-down">
                
                <div class="row">
                    <div class="col s3 center">
                        <button id="loadCashFlow" name="button" value="CASH_FLOW" class="waves-effect waves-light btn-large red lighten-1">Cash Flow</button>
                    </div>
                    <div class="col s3 center">
                        <button id="loadIncomeStatement" name="button" value="INCOME_STATEMENT" class="waves-effect waves-light btn-large red lighten-1">Income Statement</button>
                    </div>
                    <div class="col s3 center">
                        <button id="loadBalanceSheet" name="button" value="BALANCE_SHEET" class="waves-effect waves-light btn-large red lighten-1">Balance Sheet</button>
                    </div>
                    <div class="col s3 center">
                        <button id="loadEarnings" name="button" value="EARNINGS" class="waves-effect waves-light btn-large red lighten-1">Earnings</button>
                    </div>
                </div>

                <canvas id="financialChart" name={{ title }} style="display: none;"></canvas>       

            </div>
        </div> 
    {% endif %}
</div>

<div class="fixed-action-btn">
    <a id="toggle-button" class="btn-floating btn-large waves-effect waves-light red lighten-1 bottom right "><i class="material-icons">add</i></a>
</div>
<script src="https://unpkg.com/chartjs-plugin-zoom"></script>

<script>

    var datactx = document.getElementById('financialChart').getContext('2d');
    var financialChart;
    
    function createChart(data) {
        data_type = data.data_type;
        console.log(data_type);
        if (financialChart) {
            console.log('destroy');
            financialChart.destroy(); // Destroy existing chart instance if exists
            financialChart = null; // Clear the reference
        }

        // Replace the canvas and refresh the context
        $('#financialChart').replaceWith('<canvas id="financialChart"></canvas>');
        var datactx = document.getElementById('financialChart').getContext('2d');
        document.getElementById('financialChart').style.display = 'block';

        if (data_type == 'Income Statement'){
            var net_income_data = JSON.parse(data.net_income_data);
            var total_revenue_data = JSON.parse(data.total_revenue_data);
            var cost_of_revenue_data = JSON.parse(data.cost_of_revenue_data);
            var operating_income_data = JSON.parse(data.operating_income_data);
            var gross_profit_data = JSON.parse(data.gross_profit_data);
            var operating_expenses_data = JSON.parse(data.operating_expenses_data);
            var depreciation_data = JSON.parse(data.depreciation_data);

            
            var financialChart = new Chart(datactx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Net Income',
                        backgroundColor: 'rgba(144, 238, 144, 0.5)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        data: net_income_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Total Revenue Income',
                        backgroundColor: 'rgba(173, 216, 230, 0.5)',
                        borderColor: 'rgba(173, 216, 230, 1)',
                        data: total_revenue_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Cost of Revenue',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: cost_of_revenue_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Operating Income',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: operating_income_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Gross Profit',
                        backgroundColor: 'rgba(255, 206, 86, 0.5)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        data: gross_profit_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Operating Expenses',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        data: operating_expenses_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Depreciation',
                        backgroundColor: 'rgba(153, 102, 255, 0.5)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        data: depreciation_data, // Data from Django view
                        borderWidth: 1
                    },
                    ]
                },
            });
        } else if (data_type == 'Balance Sheet'){
            var total_assets_data = JSON.parse(data.total_assets_data);
            var total_current_assets_data = JSON.parse(data.total_current_assets_data);
            var investment_data = JSON.parse(data.investment_data);
            var current_debt_data = JSON.parse(data.current_debt_data);
            var treasury_stock_data = JSON.parse(data.treasury_stock_data);
            var common_stock_data = JSON.parse(data.common_stock_data);
            
            financialChart = new Chart(datactx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Total Assets',
                        backgroundColor: 'rgba(144, 238, 144, 0.5)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        data: total_assets_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Total Current Assets',
                        backgroundColor: 'rgba(173, 216, 230, 0.5)',
                        borderColor: 'rgba(173, 216, 230, 1)',
                        data: total_current_assets_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Investments',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: investment_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Current Debt',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: current_debt_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Treasury Stock',
                        backgroundColor: 'rgba(255, 206, 86, 0.5)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        data: treasury_stock_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Common Stock',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        data: common_stock_data, // Data from Django view
                        borderWidth: 1
                    }
                    ]
                },
            });
        } else if (data_type == 'Cash Flow'){
            var  operating_cashflow_data = JSON.parse(data.operating_cashflow_data);
            var  capital_expenditures_data = JSON.parse(data.capital_expenditures_data);
            var  change_in_inventory_data = JSON.parse(data.change_in_inventory_data);
            var  profit_loss_data = JSON.parse(data.profit_loss_data);
            var  cashflow_from_investments_data = JSON.parse(data.cashflow_from_investments_data);
            var  cashflow_from_financing_data = JSON.parse(data.cashflow_from_financing_data);
            var  dividend_payout_data = JSON.parse(data.dividend_payout_data);
            
            financialChart = new Chart(datactx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Operating Cashflow',
                        backgroundColor: 'rgba(144, 238, 144, 0.5)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        data: operating_cashflow_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Capital Expenditures',
                        backgroundColor: 'rgba(173, 216, 230, 0.5)',
                        borderColor: 'rgba(173, 216, 230, 1)',
                        data: capital_expenditures_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Change In Inventory',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: change_in_inventory_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Profit-Loss',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: profit_loss_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Cashflow From Investments',
                        backgroundColor: 'rgba(255, 206, 86, 0.5)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        data: cashflow_from_investments_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Cashflow From Financing',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        data: cashflow_from_financing_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Dividend Payout',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        data: dividend_payout_data, // Data from Django view
                        borderWidth: 1
                    }
                    ]
                },
            });
        } else if (data_type == 'Earnings'){
            var  reported_eps_data = JSON.parse(data.reported_eps_data);
            var  estimated_eps_data = JSON.parse(data.estimated_eps_data);
            var  surprise_data = JSON.parse(data.surprise_data);
            var  surprise_percentage_data = JSON.parse(data.surprise_percentage_data);
            
            financialChart = new Chart(datactx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Reported EPS',
                        backgroundColor: 'rgba(144, 238, 144, 0.5)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        data: reported_eps_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Estimated EPS',
                        backgroundColor: 'rgba(173, 216, 230, 0.5)',
                        borderColor: 'rgba(173, 216, 230, 1)',
                        data: estimated_eps_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Surprise',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: surprise_data, // Data from Django view
                        borderWidth: 1
                    },
                    {
                        label: 'Surprise Percentage',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        data: surprise_percentage_data, // Data from Django view
                        borderWidth: 1
                    }
                    ]
                },
            });
        }
        financialChart.update();
    }

    $(document).ready(function() {
        $('button').click(function() {
            // Remove 'green' class from all buttons and add 'red lighten-1' to ensure they are all red
            $('button').removeClass('green accent-3').addClass('red lighten-1');

            // Add 'green' class to the clicked button and remove 'red lighten-1'
            $(this).removeClass('red lighten-1').addClass('green accent-3');

            var action = $(this).attr('id').replace('load', '').replace(/([A-Z])/g, '_$1').toUpperCase().trim('_'); // Convert button ID to action
            var ticker = '{{ title|escapejs }}';
            $.ajax({
                url: '{% url "research" %}?action=' + action + '&ticker=' + ticker,
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    createChart(response);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);

        function toggleDropdown(checkboxId, dropdownId) {
            document.getElementById(checkboxId).addEventListener('change', function() {
                var dropdown = document.getElementById(dropdownId);
                if (this.checked) {
                    dropdown.style.display = 'block';
                } else {
                    dropdown.style.display = 'none';
                }
            });
        }

        toggleDropdown('SMACheckBox', 'SMADropDown');
        toggleDropdown('EMACheckBox', 'EMADropDown');
        toggleDropdown('BollingerBandsCheckbox', 'BollingerBandsDropdown');
        toggleDropdown('RSICheckbox', 'RSIDropdown');
        toggleDropdown('MACDCheckbox', 'MACDDropdown');
        toggleDropdown('StochasticCheckbox', 'StochasticDropdown');

        // Trigger change event for pre-selected checkboxes
        document.getElementById('SMACheckBox').dispatchEvent(new Event('change'));
        document.getElementById('EMACheckBox').dispatchEvent(new Event('change'));
        document.getElementById('BollingerBandsCheckbox').dispatchEvent(new Event('change'));
        document.getElementById('RSICheckbox').dispatchEvent(new Event('change'));
        document.getElementById('MACDCheckbox').dispatchEvent(new Event('change'));
        document.getElementById('StochasticCheckbox').dispatchEvent(new Event('change'));
    });
    
    var chartData = JSON.parse('{{ chart_data|escapejs }}');
    var title = '{{ title|escapejs }}';
    var financial_data = '{{ financial_data|escapejs }}';
    
    if (title != "S&P 500"){
        var tickers = JSON.parse("{{ tickers|escapejs }}");
        var names = JSON.parse("{{ names|escapejs }}");

        title = names[tickers.indexOf(title)]
    }
    const rangeBar = document.getElementById('rangeBar');
    const barContainer = document.getElementById('barContainer');
    const dataInfo = document.getElementById('dataInfo'); // Element to show data info
    const dates = chartData.date.map(date => new Date(date)); // Assuming chartData.date contains date strings
    const startTime = dates[0].getTime(); // Start time of the chart data
    const endTime = dates[dates.length - 1].getTime(); // End time of the chart data
    const totalDuration = endTime - startTime; // Total duration in milliseconds
    const totalDataPoints = dates.length; // Total number of data points

    // Define a color mapping for each dataset
    const colorMapping = {
            'Close Price': 'rgba(255, 99, 132, 1)', // Default Chart.js Pink
            'Simple Moving Average': 'rgba(144, 238, 144, 1)', // Light Green
            'Exponential Moving Average': 'rgba(173, 216, 230, 1)', // Light Blue
            'Relative Strength Index': 'rgba(255, 182, 193, 1)', // Light Pink
            'MACD': 'rgba(255, 160, 122, 1)', // Light Salmon
            'MACD Signal': 'rgba(238, 130, 238, 1)', // Violet
            'Middle Band': 'rgba(211, 211, 211, 1)', // Light Gray
            'Upper Band': 'rgba(192, 192, 192, 1)', // Silver
            'Lower Band': 'rgba(135, 206, 235, 1)', // Light Cyan
            'Fast Stochastic Indicator': 'rgba(32, 178, 170, 1)', // Light Sea Green
            'Slow Stochastic Indicator': 'rgba(221, 160, 221, 1)', // Light Purple
        };

    // Convert date strings to timestamps
    if (chartData.date && Array.isArray(chartData.date)) {
        chartData.date = chartData.date.map(dateStr => new Date(dateStr).getTime());

        let ctx = document.getElementById('myChart').getContext('2d');

        let datasets = [];

        // Add datasets for each key in chartData except 'date'
        for (let key in chartData) {
            if (chartData.hasOwnProperty(key) && key !== 'date') {
                if (chartData[key] && Array.isArray(chartData[key]) && chartData[key].some(value => value !== 0)) {
                    datasets.push({
                        label: key,
                        backgroundColor: colorMapping[key] || 'rgba(0, 0, 0, 0.1)', // Fallback color
                        borderColor: colorMapping[key] || 'rgba(0, 0, 0, 1)', // Fallback color
                        data: chartData[key].map((value, index) => ({ x: chartData.date[index], y: value })),
                        borderWidth: 2,
                        fill: false,
                        pointStyle: false,
                        pointRadius: 0,
                    });
                }
            }
        }

        const config = {
            type: 'line',
            data: { datasets: datasets },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: title,
                        font: { size: 20 }
                    },
                    zoom: {
                        limits: {
                            x: { min: chartData.date[0], max: chartData.date[chartData.date.length - 1] }, // Ensure x-axis does not zoom beyond data range
                        },
                        zoom: {
                            wheel: { enabled: true },
                            pinch: { enabled: true },
                            mode: 'x',
                            onZoomComplete: function({chart}) {
                                const min = chart.scales.x.min;
                                const max = chart.scales.x.max;
                                const range = max - min;
                                const leftPercent = ((min - startTime) / totalDuration) * 100;

                                const widthPercent = (range / totalDuration) * 100;
                                rangeBar.style.left = leftPercent + '%';
                                rangeBar.style.width = widthPercent + '%';
                                let maxRange = 3 * 365 * 24 * 60 * 60 * 1000; // Max range of 3 years in milliseconds
                                if (range > maxRange) {
                                    chart.resetZoom(); // Reset zoom if zoomed out beyond 3 years
                                }
                                // Calculate visible data points
                                const visibleDataPoints = dates.filter(date => date.getTime() >= min && date.getTime() <= max).length;
                                dataInfo.innerHTML = `${visibleDataPoints} days`;
                            }
                        },
                        pan: {
                            enabled: true,
                            mode: 'x'
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: { unit: 'day' },
                        distribution: 'linear',
                        bounds: 'data',
                        min: chartData.date[Math.max(0, chartData.date.length - 365)], // Default to last one year of data
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        var myChart = new Chart(ctx, config);
        myChart.update();
    }
    
    let isDragging = false;
    let startClientX;

    document.getElementById('myChart').addEventListener('mousedown', function(e) {
        isDragging = true;
        startClientX = e.clientX;
        e.preventDefault(); // Prevent default action such as text selection
    });
    
    document.getElementById('rangeBar').addEventListener('mousedown', function(e) {
        isDragging = true;
        startClientX = e.clientX;
        e.preventDefault(); // Prevent default action such as text selection
    });

    window.addEventListener('mousemove', function(e) {
        if (isDragging) {
            const dx = e.clientX - startClientX;
            const proportionMove = dx / barContainer.offsetWidth;
            const dateShift = proportionMove * totalDuration;

            // Calculate new boundaries
            let newMin = myChart.scales.x.min + dateShift;
            let newMax = myChart.scales.x.max + dateShift;

            // Prevent dragging beyond the available data range
            if (newMin < startTime) {
                newMin = startTime;
                newMax = startTime + (myChart.scales.x.max - myChart.scales.x.min);
            } else if (newMax > endTime) {
                newMax = endTime;
                newMin = endTime - (myChart.scales.x.max - myChart.scales.x.min);
            }

            // Apply the new limits
            myChart.options.scales.x.min = newMin;
            myChart.options.scales.x.max = newMax;
            myChart.update();

            startClientX = e.clientX; // Update the start x position for the next move
        }
        updateRangeBar();
    });

    window.addEventListener('mouseup', function() {
        isDragging = false;
    });

    // The initial setup for the range bar
    function updateRangeBar() {
        const min = myChart.scales.x.min;
        const max = myChart.scales.x.max;
        const range = max - min;
        const leftPercent = ((min - startTime) / totalDuration) * 100;
        const widthPercent = (range / totalDuration) * 100;
        rangeBar.style.left = `${leftPercent}%`;
        rangeBar.style.width = `${widthPercent}%`;
    }
        
</script>
{% endblock content %}
