{% extends 'base.html' %}

{% block title %}
Research | Portfolio Builder
{% endblock title %}

{% block sidebar %}
<div class="sidebar white" id="sidebar">
    <h4 class="center black-text" style="margin-top: 20px; font-weight: bold; font-size: 24px;">Stock lookup</h4>
    <form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            <select name="ticker" required>
                <option value="" disabled selected>Choose your Ticker</option>
                {% for ticker in tickers %}
                <option value="{{ ticker }}">{{ ticker }}</option>
                {% endfor %}
            </select>
            <label>Stock Ticker</label>
        </div>

        <h6 class="left-align">Optional Indicators</h6>

        <p>
            <label>
                <input type="checkbox" id="SMACheckBox" name="SMA" class="filled-in" />
                <span>Simple Moving Average</span>
            </label>
        </p>
        <div class="input-field col s12" id="SMADropDown" style="display:none;">
            <select name="SMAValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Simple Moving Average Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="EMACheckBox" name="EMA" class="filled-in" />
                <span>Exponential Moving Average</span>
            </label>
        </p>
        <div class="input-field col s12" id="EMADropDown" style="display:none;">
            <select name="EMAValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Exponential Moving Average Value</label>
        </div>
        
        <p>
            <label>
                <input type="checkbox" id="BollingerBandsCheckbox" name="BollingerBands" class="filled-in" />
                <span>Bollinger Bands</span>
            </label>
        </p>
        <div class="input-field col s12" id="BollingerBandsDropdown" style="display:none;">
            <select name="BollingerBandsValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="20">20 day</option>
                <option value="50">50 day</option>
                <option value="200">200 day</option>
            </select>
            <label>Bollinger Bands Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="RSICheckbox" name="RSI" class="filled-in" />
                <span>Relative Strength Index (RSI)</span>
            </label>
        </p>
        <div class="input-field col s12" id="RSIDropdown" style="display:none;">
            <select name="RSIValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="14">14 day</option>
                <option value="28">28 day</option>
            </select>
            <label>RSI Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="MACDCheckbox" name="MACD" class="filled-in" />
                <span>MACD</span>
            </label>
        </p>
        <div class="input-field col s12" id="MACDDropdown" style="display:none;">
            <select name="MACDValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="12,26,9">Standard (12,26,9)</option>
                <option value="8,17,9">Custom (8,17,9)</option>
            </select>
            <label>MACD Value</label>
        </div>

        <p>
            <label>
                <input type="checkbox" id="StochasticCheckbox" name="StochasticOscillator" class="filled-in" />
                <span>Stochastic Oscillator</span>
            </label>
        </p>
        <div class="input-field col s12" id="StochasticDropdown" style="display:none;">
            <select name="StochasticValue">
                <option value="" disabled selected>Choose a value</option>
                <option value="14,3,3">Standard (14,3,3)</option>
                <option value="5,3,3">Custom (5,3,3)</option>
            </select>
            <label>Stochastic Oscillator Value</label>
        </div>

        <button class="btn waves-effect waves-light bottom" type="submit" name="action">Submit</button>
    </div>
</form>
</div>
{% endblock sidebar %}

{% block content %}
<div class="col s12">
    <div class="row">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <h5 class="left-align">Valuation Measures</h5>
        <h6 class="right-align">Most recent</h6>

        <div class="col s6">
            <h6 class="left-align">Ticker</h6>
            <h6 class="left-align">Market Cap</h6>
            <h6 class="left-align">Enterprise Value</h6>
            <h6 class="left-align">Trailing P/E</h6>
            <h6 class="left-align">Forward P/E</h6>
            <h6 class="left-align">PEG Ratio (5yr Expected)</h6>
            <h6 class="left-align">Price/Sales (ttm)</h6>
            <h6 class="left-align">Price/Bool (mrq)</h6>
            <h6 class="left-align">Enterprise Value/Revenue</h6>
            <h6 class="left-align">Enterprise Value/EBITDA</h6>
            
        </div>

        <div class="col s6">
                {% for key, item in valuation.items %}
                    <h6 class="right-align">{{ item }}</h6>
                {% endfor %}
        </div>
    </div>

    <div class="col s6">
        <h5 class="left-align">Financial Highlights</h5>
        <h6 class="right-align">Most recent</h6>

        <div class="col s6">
            <h6 class="left-align">Profit Margin</h6>
            <h6 class="left-align">Return on Assets (ttm)</h6>
            <h6 class="left-align">Return on Equity (ttm)</h6>
            <h6 class="left-align">Revenue (ttm)</h6>
            <h6 class="left-align">Net Income Avi to Common (ttm)</h6>
            <h6 class="left-align">Diluted EPS (ttm)</h6>
            <h6 class="left-align">Total Cash (mrq)</h6>
            <h6 class="left-align">Total Debt/Equity (mrq)</h6>
            <h6 class="left-align">Levered Free Cash Flow (ttm)</h6>
            
        </div>

        <div class="col s6">
                {% for key, item in finance.items %}
                    <h6 class="right-align">{{ item }}</h6>
                {% endfor %}
        </div>
    </div>

    
</div>

<div class="fixed-action-btn">
    <a id="toggle-button" class="btn-floating  btn-large waves-effect waves-light red bottom right "><i class="material-icons">add</i></a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);

    function toggleDropdown(checkboxId, dropdownId) {
        document.getElementById(checkboxId).addEventListener('change', function() {
            var dropdown = document.getElementById(dropdownId);
            if (this.checked) {
                dropdown.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
            }
        });
    }

    toggleDropdown('SMACheckBox', 'SMADropDown');
    toggleDropdown('EMACheckBox', 'EMADropDown');
    toggleDropdown('BollingerBandsCheckbox', 'BollingerBandsDropdown');
    toggleDropdown('RSICheckbox', 'RSIDropdown');
    toggleDropdown('MACDCheckbox', 'MACDDropdown');
    toggleDropdown('StochasticCheckbox', 'StochasticDropdown');

    // Trigger change event for pre-selected checkboxes
    document.getElementById('SMACheckBox').dispatchEvent(new Event('change'));
    document.getElementById('EMACheckBox').dispatchEvent(new Event('change'));
    document.getElementById('BollingerBandsCheckbox').dispatchEvent(new Event('change'));
    document.getElementById('RSICheckbox').dispatchEvent(new Event('change'));
    document.getElementById('MACDCheckbox').dispatchEvent(new Event('change'));
    document.getElementById('StochasticCheckbox').dispatchEvent(new Event('change'));
});

    
    var chartData = JSON.parse('{{ chart_data|escapejs }}');
    var title = '{{ title|escapejs }}';
    var financial_data = '{{ financial_data|escapejs }}';

    // Define a color mapping for each dataset
    const colorMapping = {
            'Close Price': 'rgba(255, 99, 132, 1)', // Default Chart.js Pink
            'Simple Moving Average': 'rgba(144, 238, 144, 1)', // Light Green
            'Exponential Moving Average': 'rgba(173, 216, 230, 1)', // Light Blue
            'Relative Strength Index': 'rgba(255, 182, 193, 1)', // Light Pink
            'MACD': 'rgba(255, 160, 122, 1)', // Light Salmon
            'MACD Signal': 'rgba(238, 130, 238, 1)', // Violet
            'Middle Band': 'rgba(211, 211, 211, 1)', // Light Gray
            'Upper Band': 'rgba(192, 192, 192, 1)', // Silver
            'Lower Band': 'rgba(135, 206, 235, 1)', // Light Cyan
            'Fast Stochastic Indicator': 'rgba(32, 178, 170, 1)', // Light Sea Green
            'Slow Stochastic Indicator': 'rgba(221, 160, 221, 1)', // Light Purple
        };

    // Convert date strings to timestamps
    if (chartData.date && Array.isArray(chartData.date)) {
        chartData.date = chartData.date.map(dateStr => new Date(dateStr).getTime());

        let ctx = document.getElementById('myChart').getContext('2d');

        let datasets = [];

        // Add datasets for each key in chartData except 'date'
        for (let key in chartData) {
            if (chartData.hasOwnProperty(key) && key !== 'date') {
                // Check if the value is not zero and is an array (assuming it's an array of numbers)
                if (chartData[key] && Array.isArray(chartData[key]) && chartData[key].some(value => value !== 0)) {
                    datasets.push({
                        label: key,
                        backgroundColor: colorMapping[key] || 'rgba(0, 0, 0, 0.1)', // Fallback color
                        borderColor: colorMapping[key] || 'rgba(0, 0, 0, 1)', // Fallback color
                        data: chartData[key].map((value, index) => ({ x: chartData.date[index], y: value })),
                        borderWidth: 1,
                        fill: false,
                        pointStyle: false,
                        pointRadius: 0,
                    });
                }
            }
        }

        const config = {
            type: 'line',
            data: {
                datasets: datasets,
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: title,
                        font: {
                            size: 20
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        distribution: 'linear'
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        var myChart = new Chart(ctx, config);
    } else {
        console.error('chartData.date is not defined or is not an array');
    }
</script>
{% endblock content %}
